Repository antvis/thumbnails, pull requests merged in 2021-01, with the labels that each got.

#5 chore: init github actions
  .github/workflows/automerge.yml
  .github/workflows/update-chart.yml
  README.md
  package.json
  src/charts/heatmap.ts
  src/charts/histogram.ts
  src/index.ts
  svgs/heatmap.svg
  svgs/histogram.svg
Labels: PR: reviewed-changes-requested, approved svg changes, update chart

#9 feat: add histogram
  README.md
  src/charts/histogram.ts
  src/index.ts
  svgs/histogram.svg
Labels: PR: reviewed-changes-requested, approved svg changes, automerge, update chart

#10 fix: github workflow re-commit
  .github/workflows/update-chart.yml
Labels: PR: unreviewed, update chart

#11 feat: add heatmap
  README.md
  src/charts/heatmap.ts
  src/index.ts
  svgs/heatmap.svg
Labels: PR: reviewed-changes-requested, approved svg changes, automerge, update chart

#13 feat: upgrade Thumbnail component & revert expoting
  README.md
  __tests__/index.test.ts
  demo/app.tsx
  scripts/extract-svg.ts
  src/components/Thumbnail.tsx
  src/index.ts
  src/thumbnails.ts
Labels: PR: unreviewed
